body::-webkit-scrollbar {
    border-radius: 2px;
    width: 6px;
}
body::-webkit-scrollbar-thumb {
    background:  #1AA6E1;
    border-radius: 4px;
}
body::-webkit-scrollbar-track {
    background: #ccc;
}
.sidebar-scroll{
    background:#FFFFFF !important;
    borderRight: 2px solid #F1F2F3 !important;
    overflow: auto !important;
    height: 100vh !important;
    position: fixed !important;
    left: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
}
.sidebar-scroll::-webkit-scrollbar {
    border-radius: 2px;
    width: 4px;
}
.sidebar-scroll::-webkit-scrollbar-thumb {
    background:  #1AA6E1;
    border-radius: 8px;
}
.sidebar-scroll::-webkit-scrollbar-track {
    background: #ccc;
}
.demo-logo-vertical {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 14px 20px 30px;
    height: 84px;
    background: transparent;
    border-radius: 6px;
}

.demo-logo-text {
    color: #565D6A;
    font-family: 'Tahoma', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 160% */
    letter-spacing: 0.8px;
    margin: 0;
}
.sidebar-header{
    padding: 22px 24px;
    border-bottom: 1px solid #F3F3F3;
    background: #FFF;
    box-shadow: 0px 16px 24px 0px rgba(223, 226, 231, 0.22);
    height: 84px
}
.ant-btn img {
    padding: 10px !important;
}

.content {
    padding: 1.5rem;
    background: #FAFBFC;
}

.ant-menu {
    padding: 0 0.8rem;
}
.ant-menu.ant-menu-vertical{
    padding: 0 0.8rem;
}
.ant-menu.ant-menu-vertical li{
    margin-bottom: 10px;
}
.ant-menu-inline .ant-menu-item {
    padding: 11px 10px !important;
    border-radius: 8px !important;
    margin: 0 !important;
    width: 100% !important;
    display: flex !important;
    align-items: center !important;
    color: #565D6A;
    font-size: 14px;
    font-family: "TTFirsNeue", sans-serif;
    line-height: 20px;
    font-weight: 500;
}
.ant-menu-vertical .ant-menu-item {
    padding: 0;
    margin: auto;
    border-radius: 8px !important;
    color: #565D6A;
    font-size: 14px;
    font-family: "TTFirsNeue", sans-serif;
    line-height: 20px;
    font-weight: 500;
}
.ant-menu-submenu.ant-menu-submenu-vertical {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    color: #565D6A;
    font-size: 14px;
    font-family: "TTFirsNeue", sans-serif;
    line-height: 20px;
    font-weight: 500;
}
.ant-menu-submenu-inline .ant-menu-submenu-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "TTFirsNeue", sans-serif;
    padding: 11px 10px !important;
    border-radius: 8px !important;
    color: #565D6A;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}
.ant-menu-submenu-vertical .ant-menu-submenu-title{
    margin-right: 0;
    margin-left: 0;
    padding:0 !important;
    font-family: "TTFirsNeue", sans-serif;
    border-radius: 8px !important;
    color: #565D6A;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}
.ant-menu-title-content {
    margin: 0 !important;
    padding: 11px 11px !important;
}

.ant-menu-item-selected {
    color: #1AA6E1 !important;
    background: #F5F6F6 !important;
}

.ant-menu-inline .ant-menu-item-icon {
    width: 18px !important;
    height: 18px !important;
}
.ant-menu-vertical .ant-menu-item-icon {
    padding: 10px 0 0 0 !important;
    display: flex !important;
    justify-content:center !important;
    align-items:center !important;
    margin: auto !important;
    width: 32px !important;
    height: 32px !important;
}

.ant-menu-inline.ant-menu-item-icon svg {
    width: 100% !important;
}
.ant-menu-vertica.ant-menu-item-icon svg {
    width: 100% !important;
}

.svgColor path, .svgColorSubMenu path{
    stroke: #B0B7C3;
    fill: #B0B7C3;
}

.svgFillColorSubMenu path,ellipse,circle {
    stroke: #B0B7C3;
    fill: #B0B7C3;}

.ant-menu-item-selected .svgColor path {
    stroke: #1777ff;
    fill: #1777ff;
}

.ant-menu-submenu-selected .svgColorSubMenu path {
    stroke: #1777ff;
    fill: #1777ff;
}
.ant-menu-item-selected .svgFillColorSubMenu path,
.ant-menu-item-selected .svgFillColorSubMenu ellipse,
.ant-menu-item-selected .svgFillColorSubMenu circle{
    stroke: #1777ff;
    fill: #1777ff;}
.ant-menu-submenu-selected .svgFillColorSubMenu path,
.ant-menu-submenu-selected .svgFillColorSubMenu ellipse,
.ant-menu-submenu-selected .svgFillColorSubMenu circle{
    stroke: #1777ff;
    fill: #1777ff;}

/*.ant-menu-submenu-selected .svgFillColorSubMenu ellipse, circle {*/
/*    stroke: #1777ff;*/
/*}*/
@media screen and (max-width: 329.9px){
    .sidebar-scroll{
        height:100%
    }
    .sidebar-header{
        padding: 10px;
        height:50px
    }
    .content {
        padding: 0.5rem;
    }
}
@media (min-width: 330px) and (max-width: 425.9px){
    .sidebar-scroll{
        height:100%
    }
    .sidebar-header{
        padding: 16px;
        height:60px
    }
    .content {
        padding: 0.5rem;
    }
}
@media (min-width: 426px) and (max-width: 767.9px){
    .content {
        padding: 0.75rem;
    }
}

@media (min-width: 768px) and (max-width:1440px){
    .content {
        padding: 0.75rem;
    }
}
