::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar:hover {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 5px solid #0044FF;
}

.shopping {
    background: #FAFBFC;;
    position: absolute;
    z-index: 2;
    height: 100vh;
    overflow: hidden;
}

.shopping-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #F3F3F3;
    background: #FFF;
    box-shadow: 0px 16px 24px 0px rgba(223, 226, 231, 0.22);
    height: 100px;
    padding: 26px 20px;
}
.shopping-header-item {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 10px 0;
}
.shopping-header-item:last-child{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 14px;
}
.shop-header-text {
    color: #323B4B;
    font-family: 'Inter',sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 133.333% */
    margin: 0;
}
.shopping-btn-header{
    display: flex;
    width: 180px;
    height: 48px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #E7E7E7;
    background: #FAFBFC;
    padding: 10px 14px 10px 18px;
}
.shopping-btn-header-icon{
    width: 20px;
    height: 20px;
}
.shopping-btn-text-header{
    color: #4E5D78;
    font-family: 'Inter',sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 171.429% */
    margin: 0;
}

.shopping-datepicker {
    width: 200px;
    border-radius: 10px;
    border: 1px solid #E7E7E7;
    background: #FAFBFC;
    height: 48px;
    padding: 10px 18px !important;
    color: #4E5D78 !important;
    font-family: 'Inter', sans-serif;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 600 !important;
    line-height: 24px !important;
}

.shopping-body {
    padding: 10px;
    display: flex;
    gap: 10px;
    justify-content: start;
    align-items: stretch;
    height:87%;
}

.shopping-body-left {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    align-items: start;
    max-height: 100%;
    border-radius: 18px;
    padding: 24px 12px;
    background: #fff;
    box-shadow: 0px 16px 24px 0px rgba(223, 226, 231, 0.22);
}

.shopping-body-middle {
    display: flex;
    align-items: start;
    flex-direction: column;
    max-height: 100%;
    border-radius: 18px;
    background: #FFF;
    box-shadow: 0px 16px 24px 0px rgba(223, 226, 231, 0.22);
}



.shopping-body-right {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    max-height: 100%;
    border-radius: 18px;
    padding: 10px;
    background: #FFF;
    box-shadow: 0px 16px 24px 0px rgba(223, 226, 231, 0.22);
}

.shopping-body-header {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 10px;
}

.shopping-plus {
    border-radius: 10px;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    border: none;
    background: #E7EBF7;
    color: #377DFF;
}

.shopping-search {
    position: relative;
    border-radius: 10px;
    border: 1px solid #E7E7E7;
    background: #FAFBFC;
    width: 70%;
    display: flex;
}

.shopping-search input {
    padding: 10px 14px 10px 18px;
    border: none;
    width: 92%;
    background: transparent;
    color: #4E5D78;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 171.429% */
}

.shopping-search-list {
    border-radius: 10px;
    border: 1px solid #E7E7E7;
    background: #FAFBFC;
    z-index: 2;
    position: absolute;
    max-height: 350px;
    overflow-y: scroll;
    top: 100%;
    width: 100%;
}

.shopping-search-button {
    padding: 5px 14px 5px 18px;
    background: #FAFBFC;
    width: 100%;
    text-align: start;
    border: none;
    border-bottom: 1px solid gray;
    color: #4E5D78;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 171.429% */
}

.shopping-search-button:hover {
    background: #377DFF;
    color: #FFFFFF;
}

.shopping-body-body {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding: 10px;
}

.shopping-table {
    width: 100%;
}

.shopping-table tr {
    color: #4E5D78;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
    text-transform: uppercase;
}

.shop-change-number {
    color: #4E5D78;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    border-radius: 6px;
    border: 1px solid #E7E7E7;
    background: #FAFBFC;
    width: 80px;
}


.btn-icon {
    width: 22px;
    height: 22px;
}

.shop-totalSum {
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.shop-totalSum p {
    color: #377DFF;
    word-wrap: break-word;
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 0;
}

.shop-productSum {
    color: #323B4B;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 133.333% */
    margin: 0;
}

.discount-percent {
    border-radius: 8px;
    background: #E7EBF7;
    padding: 10px 16px;
}

.discount-percent p {
    color: #377DFF;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 153.846% */
    margin: 0;
}

.btn-payment {
    border-radius: 16px;
    background: #377DFF;
    padding: 19px 11px;
    width: 100%;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    border: none;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.shopping-products {
    width: 100%;
    height: 100%;
}

.shopping-product-list {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    gap: 15px;
    height: 90%;
    overflow-y: scroll;
}

.shopping-left-product-btn {
    display: flex;
    width: 48px;
    height: 48px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 16px;
    background: #FAFBFC;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.shopping-left-product-btn:hover {
    border: 1px solid #1aa6e1;
}

.shop-product-card {
    cursor: pointer;
    border-radius: 14px;
    border: 1px solid #E7E7E7;
    width: 45.5%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.shop-product-image {
    max-width: 80px;
    max-height: 80px;
    margin-bottom: 10px;
}

.shop-product-name {
    color: #4E5D78;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
    margin-bottom: 8px;
}

.shop-product-price {
    color: #323B4B;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 111.111% */
    text-transform: uppercase;
    margin: 0;
}

.button-changes {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-change {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 16px;
    background: #FAFBFC;
    width: 31%;
    height:100%;
    gap: 12px;
    padding: 15px 0;
}

.btn-change-icon {
    width: 40px;
    height: 40px;
}

.btn-change-text {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 160% */
    margin: 0;
}

.shopping-btn2 {
    width: 48%;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border: none;
    border-radius: 16px;
    background: darkblue;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.shopping-btn {
    width: 31%;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border: none;
    border-radius: 16px;
    background: #FAFBFC;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.shopping-btn-top {
    width: 31%;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border: none;
    border-radius: 16px;
    background: darkmagenta;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.shopping-btn-top2 {
    width: 48%;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border: none;
    border-radius: 16px;
    background: #FAFBFC;;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.shopping-btn-icon {
    width: 32px;
    height: 32px;
}
.shopping-btn-icon-pay{
    width: 24px;
    height: 24px;
}
.shopping-btn-text {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-style: normal;
    color: #ffffff;
    font-weight: 600;
    line-height: 24px; /* 160% */
    margin: 0;
}
