.kirish-input-items input:-webkit-autofill,
.kirish-input-items input:-webkit-autofill:hover,
.kirish-input-items input:-webkit-autofill:focus,
.kirish-input-items input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

#home {
    background-color: white;
}

.home-body {
    display: block;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.input {
    position: relative;
}

.input img {
    position: absolute;
    top: 30%;
    right: 5%;
    cursor: pointer;
}

.home-video {
    width: 750px;
    height: 500px
}

.kirish {
    padding: 0 20px;
    width: 75%;
}

.kirish-text {
    text-align: center;
}

.kirish-text h5 {
    font-family: "Montserrat", sans-serif;
    color: #282C32;
    font-size: clamp(1.25rem, 0.9766rem + 1.5625vw, 2.5rem);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
}

.kirish-text p {
    color: #565D6A;
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(0.8125rem, 0.7168rem + 0.5469vw, 1.25rem);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 40px
}

.kirish-inputs {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 24px;
}

.kirish-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.kirish-label {
    display: flex;
    gap: 4px;
}

.kirish-label-text {
    color: #282C32;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.kirish-label-text small {
    color: #D22600;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.kirish-input-items {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 1.5px solid #E4E4E4;
    box-sizing: border-box;
}

.kirish-input-items:focus-within {
    border: 2px solid #377DFF;
}

.kirish-input-items input {
    width: 80%;
    outline: none;
    background-color: transparent !important;
    border: none;
}

.kirish-button {
    border-radius: 12px;
    background: #377DFF;
    height: 56px;
    width: 100%;
    border: none;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal
}

.kirish-button:active {
    background: rgba(55, 125, 255, 0.8);
}

.kirish-checkbox {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;
}

.kirish-checkbox .login {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.kirish-checkbox input[type=checkbox] {
    display: none;
}

.kirish-checkbox input[type=checkbox]:checked + label svg {
    fill: #377DFF;
    stroke: #377DFF;;
    border: 0;
}

.kirish-checkbox .check-label {
    display: flex;
    justify-content: start;
    align-items: center;
}

.kirish-checkbox .check-label svg {
    width: 22px;
    height: 22px;
    padding: 0;
    border-radius: 4px;
    border: 1px solid #E4E4E4;
    background: #F5F5F5;
    fill: #F5F5F5;
    stroke: #F5F5F5;
}

.kirish-checkbox-text label {
    color: #565D6A;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.kirish-checkbox label svg path {
    width: 100%;
}


.kirish-checkbox h4 {
    margin-top: 10px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #A1AFCA;
}

.kirish-checkbox a {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #0044FF;
}

@media (max-width: 425.9px) {
    .kirish {
        padding: 20px;
        width: 100%;
    }

    .kirish-input-items {
        height: 30px;
    }

    .kirish-inputs {
        gap: 20px;
    }

    .kirish-checkbox{
        margin-bottom: 20px;
    }
}

@media (min-width: 426px) and (max-width: 1024.9px) {
    .home-body {
        display: flex;
        justify-content: center;
    }

    .kirish {
        padding: 20px;
        width: 430px;
    }

}

@media (min-width: 1025px) and (max-width: 1199.9px) {
    .kirish {
        padding: 20px;
        width: 430px;
    }
}
