.saqlabutton{
    margin-top: 47px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid silver;
}
.contenerX{
    border-radius: 8px;
    padding: 20px 24px;
    background-color: #FFFFFF;
    justify-content: center;
    margin: 20px;
}
#qoshim::placeholder{
    color: red;
}
#qisqEstm::placeholder{
    color: red;
}
