.savdoOynasiBtn{
    border: none;
    color: #FFF;
    font-family: Inter, "sans-serif";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 10px;
    background: #377DFF;
    box-shadow: 0 8px 17px 0 rgba(55, 125, 255, 0.16);
    padding: 10px 16px;
    display: flex;
    align-items: center;
    gap: 12px;
    height: 40px;
}

.main-header{
    position: relative !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-notification-img{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    overflow: hidden;
}
.main-header-img{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius:50%;
    overflow: hidden;
}
.main-header-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*row-gap: 12px;*/
}
.main-header-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 32px;
}
.main-header .ant-select-single.ant-select-lg {
    height: 40px !important;
}
.main-header-text-login{
    margin:0;
    font-family: 'Inter' ,sans-serif;
    color: #8A94A6;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 153.846% */
}
.main-header-text-fio{
    font-family: 'Inter' ,sans-serif;
    margin:0;
    color: #4E5D78;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}
.main-header-profile{
    z-index: 10000;
    position: absolute;
    top: 110%;
    right: -32px;
}
.profile-menu{
    background-color: #FFFFFF;
    border: 2px solid #F1F2F3;
    padding: 5px;
    /*box-shadow:2px 2px 2px 2px #F1F2F3;*/
    border-bottom-left-radius: 10px;
}
.profile-menu a{
    text-decoration: none !important;
}

.profile-items{
    display: flex;
    gap: 10px;
    margin:25px 15px ;
    align-items:end;
    background: #FFFFFF;
    color: #4E5D78;
}

.profile-items-icon{
    width: 24px;
    height: 24px;
}

.profile-items-text{
    padding:0;
    margin:0;
    font-family:'Inter',sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;

    line-height: 20px; /* 125% */
}
.profile-items:hover{
    color:#1AA6E1;
}
.profile-items:hover .profile-items-icon path {
    stroke: #1AA6E1;
}
.main-header-body{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap:12px
}
.main-header-text{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:5px;
}
.main-header-this-day{
    margin: 0;
    color: #8A94A6;
    font-family: 'Inter',sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}
.drop-down{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background: #FAFBFC;
    padding: 12px 18px;
    height:40px;
    width:189px;
}
.wrapper-con{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
}
.wrapper{
    display:flex;
    align-items: center;
    gap: 12px;
}
@media screen and (max-width: 330px) {
    .savdoOynasiBtn{
        font-size: 14px;
        border-radius: 10px;
        padding: 6px 10px;
        gap: 6px;
    }
    .main-header{
        align-items: center;
    }
    .main-header-left{
        display: flex;
    }
    .main-header-left .main-header-body{
        display: none;
    }
    .main-header-icon svg{
        width: 20px;
        height: 20px;
    }
    .main-header-right{
        column-gap: 10px;
    }
    .main-notification-img {
        width: 16px;
        height: 16px;
    }
    .main-header-img{
        width: 25px;
        height: 25px;
    }
    .main-header-text-fio {
        font-size: 10px;
        line-height: 5px;
    }
    .main-header-text-login{
        margin: 0;
        font-size: 8px;
        line-height: 5px;
    }
    .main-header-profile{
        right: -10px;
    }
    .profile-items{
        margin: 12px 8px;
    }
}
@media (min-width: 330px) and (max-width: 426px) {
    .main-header{
        align-items: center;
    }
    .savdoOynasiBtn{
        font-size: 14px;
        border-radius: 10px;
        padding: 6px 10px;
        gap: 6px;
    }
    .main-header-left{
        display:flex;
        gap: 10px;
    }
    .main-header-left .main-header-body{
        display: none;
    }
    .wrapper{
        gap: 8px;
    }
    .main-header-icon svg{
        width: 30px;
        height: 30px;
    }
    .main-header-right{
        column-gap: 12px;
    }
    .main-notification-img {
        width: 16px;
        height: 16px;
    }
    .main-header-img{
        width: 30px;
        height: 30px;
    }
    .main-header-text-fio {
        font-size: 10px;
        line-height: 10px;
    }
    .main-header-text-login{
        margin: 0;
        font-size: 8px;
        line-height: 5px;
    }
}
@media (min-width: 426px) and (max-width: 768px) {
    .main-header{
        align-items: center;
    }
    .savdoOynasiBtn{
        font-size: 14px;
        border-radius: 10px;
        padding: 6px 10px;
        gap: 6px;
    }
    .main-header-left{
        display: flex;
        gap: 10px;
    }
    .main-header-left .main-header-body{
        display: none;
    }
    .main-header-icon svg{
        width: 30px;
        height: 30px;
    }
    .main-header-right{
        column-gap: 12px;
    }
    .main-notification-img {
        width: 20px;
        height: 20px;
    }
    .main-header-img{
        width: 40px;
        height: 40px;
    }
    .main-header-text-fio {
        font-size: 14px;
        line-height: 10px;
    }
    .main-header-text-login{
        margin: 0;
        font-size: 11px;
        line-height: 10px;
    }
}

@media (min-width: 768px) and (max-width:1024px){
    .main-header-icon{
        width: 30px;
        height: 30px;
        display: flex;
    }
    .main-header-icon svg{
        width: 30px;
        height: 30px;
    }
    .savdoOynasiBtn{
        font-size: 16px;
        border-radius: 10px;
        gap: 6px;
    }
    .main-header-left{
        display: flex;
        gap: 10px;
    }
    .main-header-left .main-header-body{
        display: none;
    }
    .selected-langShort-text{
        display: none;
    }
}
@media (min-width: 1025px) and (max-width:1220px){
    .main-header-icon{
        display:none;
    }
    .selected-langShort-text{
        display: none;
    }
    .main-header-this-day{
        font-size: 12px;
    }
    .main-header-text-fio {
        font-size: 13px;
    }
    .main-header-text-login{
        margin: 0;
        font-size: 11px;
    }
}
@media (min-width: 1220px) {
    .main-header-icon{
        display:none;
    }
    .selected-langShort-text{
        display: none;
    }
}
