.main-header{
    position: relative !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-notification-img{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    overflow: hidden;
}
.main-header-img{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius:50%;
    overflow: hidden;
}
.main-header-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*row-gap: 12px;*/
}
.main-header-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 32px;
}
.main-header-text{
}
.main-header-text-login{
    margin:0;
    font-family: 'Inter' ,sans-serif;
    color: #8A94A6;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 153.846% */
}
.main-header-text-fio{
    font-family: 'Inter' ,sans-serif;
    margin:0;
    color: #4E5D78;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}
.main-header-profile{
    z-index: 10000;
    position: absolute;
    top: 110%;
    right: -32px;
}
.profile-menu{
    background-color: #FFFFFF;
    border: 2px solid #F1F2F3;
    padding: 5px;
    /*box-shadow:2px 2px 2px 2px #F1F2F3;*/
    border-bottom-right-radius: 10px;
}
.profile-menu a{
    text-decoration: none !important;
}

.profile-items{
    display: flex;
    gap: 10px;
    margin:25px 15px ;
    align-items:end;
    background: #FFFFFF;
    color: #4E5D78;
}

.profile-items-icon{
    width: 24px;
    height: 24px;
}

.profile-items-text{
    padding:0;
    margin:0;
    font-family:'Inter',sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;

    line-height: 20px; /* 125% */
}
.profile-items:hover{
    color:#1AA6E1;
}
.profile-items:hover .profile-items-icon path {
    stroke: #1AA6E1;
}
.main-header-body{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap:12px
}
.main-header-text{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:5px;
    /*align-items: center;*/
}
.main-header-this-day{
    margin: 0;
    color: #8A94A6;
    font-family: 'Inter',sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}
.drop-down{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background: #FAFBFC;
    padding: 12px 18px;
    height:40px;
    width:189px;
}
.wrapper-con{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
}
.wrapper{
    display:flex;
    align-items: center;
    gap: 12px;
}
.lang-logo{
    width:22px;
    height:22px
}
.selected-lang-text{
    color: #4E5D78;
    font-family: 'Inter',sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.selected-langShort-text{
    color: #4E5D78;
    font-family: 'Inter',sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.lang-list{
    background-color: #FFFFFF;
    position: absolute;
    top: 100%;
    left:0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.322);
    cursor:pointer;
    max-height: 250px;
    z-index: 10;
    width: 100%;
    transition: all 0.3s ease;
}
.lang-list-items{
    display:flex;
    align-items: center;
    padding:3px;
    gap:12px;
}
.lang-list-item{
    display:flex;
    align-items: center;
    padding: 6px 15px;
    gap:12px;
    width: 100%;
    border-radius: 8px;
}
.lang-list-item:hover{
    background: #dcdcdc;
}
@media screen and (max-width: 329.9px) {
    .main-header-left{
        display:inline;
    }
    .main-header-left .main-header-body{
        display: none;
    }
    .drop-down {
        padding: 3px 9px;
        height: 30px;
        width: max-content;
    }
    .selected-lang-text{
        display: none;
    }
    .lang-list{}
    .lang-list-items{
        padding:0;
        width: max-content;
    }
    .lang-list-item{
        padding: 1px 9px;
    }
    .main-header-icon svg{
        width: 20px;
        height: 20px;
    }
    .main-header-right{
        column-gap: 10px;
    }
    .main-notification-img {
        width: 16px;
        height: 16px;
    }
    .main-header-img{
        width: 25px;
        height: 25px;
    }
    .main-header-text-fio {
        font-size: 10px;
        line-height: 5px;
    }
    .main-header-text-login{
        margin: 0;
        font-size: 8px;
        line-height: 5px;
    }
}
@media (min-width: 330px) and (max-width: 425.9px) {
    .main-header-left{
        display:inline;
    }
    .main-header-left .main-header-body{
        display: none;
    }
    .drop-down {
        padding: 5px 10px;
        height: 35px;
        width: 110px;
    }
    .selected-langShort-text{
        display: none;
    }
    .wrapper{
        gap: 8px;
    }
    .lang-logo{
        width: 20px;
        height: 20px;
    }
    .selected-lang-text{
        font-size: 12px;
        }
    .lang-list{}
    .lang-list-items{
        padding:0;
        width: max-content;
    }
    .lang-list-item{
        padding: 3px 10px;
    }
    .main-header-icon svg{
        width: 30px;
        height: 30px;
    }
    .main-header-right{
        column-gap: 10px;
    }
    .main-notification-img {
        width: 16px;
        height: 16px;
    }
    .main-header-img{
        width: 30px;
        height: 30px;
    }
    .main-header-text-fio {
        font-size: 10px;
        line-height: 10px;
    }
    .main-header-text-login{
        margin: 0;
        font-size: 8px;
        line-height: 5px;
    }
}

@media (min-width: 768px) and (max-width:1600px){
    .main-header-icon{
        display:none;
    }
    .selected-langShort-text{
        display: none;
    }
}