.excel-import-icon svg{
    width: 24px !important;
    height: 24px !important;
}
.ant-upload{
    width: 100%;
    display: flex !important;
    align-items: center !important;
    flex-wrap: wrap !important;
}