.ant-select {
    height: 48px !important;
    border-radius: 10px;
    border: 1px solid #E7E7E7;
    background: #FAFBFC;
    display: flex !important;
    align-items: center !important;
}
.ant-select-selection-search-input {
    font-size: 16px !important;
    height: 100% !important;
}
.ant-select-selector {
    padding: 10px 18px !important;
    font-family: "Inter", sans-serif !important;
    color: #4E5D78 !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: 24px !important; /* 171.429% */;
    height: 100% !important;
    background: transparent !important;
    border: none !important;
    outline: none !important;
}

.ant-select-selection-item {
    font-family: "Inter", sans-serif !important;
    color: #4E5D78 !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: 24px !important; /* 171.429% */;
    display: flex !important;
    text-align: start !important;
    justify-content: start !important;
    align-items: center !important;
}

.selectLabel {
    color: #071A33;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
}

.search-ant-group {
    height: 44px;
    background: #F5F6F6;
    border-radius: 8px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    font-family: "Inter", sans-serif !important;
    padding: 9px 18px !important;
    color: #071A33 !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: 20px !important;
}

.ant-input-search {
    height: 44px !important;
    background: #F5F6F6 !important;
    border-radius: 8px !important;
}

.input-ant {
    font-family: "Inter", sans-serif !important;
    padding: 7px 9px !important;
    color: #071A33 !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: 20px !important;
}

.ant-input-search input {
    font-family: "Inter", sans-serif !important;
    padding: 7px 9px !important;
    color: #071A33 !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: 20px !important;
}

.ant-input-clear-icon svg {
    width: 20px !important;
    height: 20px !important;
}

.ant-input-search-button {
    height: 43px !important;
}

.ant-input-search-button svg {
    width: 20px !important;
    height: 20px !important;
}

.button-ant {
    display: flex !important;
    align-items: center !important;
    font-family: 'Inter',sans-serif;
    font-size: 13px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: 20px !important;
    border-radius: 5px !important;
}

.ant-table-header{
    border-radius: 16px !important;
    background: #FAFBFC !important;
    color: #4E5D78 !important;
    font-family: 'Inter',sans-serif !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 600 !important;
    line-height: 20px !important; /* 142.857% */
    text-transform: uppercase !important;
}
.ant-table-body{
    border-radius: 16px !important;
    background: #ffff !important;
    color: #4E5D78;
    font-family: 'Inter',sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
}
.ant-table-wrapper table {
    width: max-content !important;
}
.ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > thead > tr > th,
.ant-table.ant-table-bordered > .ant-table-container > .ant-table-header > table > thead > tr > th,
.ant-table.ant-table-bordered > .ant-table-container > .ant-table-body > table > thead > tr > th,
.ant-table.ant-table-bordered > .ant-table-container > .ant-table-summary > table > thead > tr > th,
.ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > tbody > tr > td,
.ant-table.ant-table-bordered > .ant-table-container > .ant-table-header > table > tbody > tr > td,
.ant-table.ant-table-bordered > .ant-table-container > .ant-table-body > table > tbody > tr > td,
.ant-table.ant-table-bordered > .ant-table-container > .ant-table-summary > table > tbody > tr > td,
.ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > tfoot > tr > th,
.ant-table.ant-table-bordered > .ant-table-container > .ant-table-header > table > tfoot > tr > th,
.ant-table.ant-table-bordered > .ant-table-container > .ant-table-body > table > tfoot > tr > th,
.ant-table.ant-table-bordered > .ant-table-container > .ant-table-summary > table > tfoot > tr > th,
.ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > tfoot > tr > td,
.ant-table.ant-table-bordered > .ant-table-container > .ant-table-header > table > tfoot > tr > td,
.ant-table.ant-table-bordered > .ant-table-container > .ant-table-body > table > tfoot > tr > td,
.ant-table.ant-table-bordered
> .ant-table-container
> .ant-table-summary
> table
> tfoot
> tr
> td {
    padding: 10px 8px;
}

.ant-table.ant-table-bordered
> .ant-table-container
> .ant-table-content
> table
> thead
> tr
> th {
    font-weight: 600;
    color: #4E5D78 !important;
}
th,tr{
    color: #4E5D78 !important;
}
:where(.css-dev-only-do-not-override-18iikkb).ant-table-wrapper .ant-table-tbody >tr >th{
    background-color: transparent
}

@media screen and (max-width: 768px){
    .ant-select {
        height: 36px !important;
        border-radius: 6px;
    }
    .selectLabel {
        font-size: 14px;
    }
    .ant-input-search {
        height: 36px !important;
    }
    .ant-input-search input {
        padding: 3px 5px !important;
    }
    .ant-input-clear-icon svg {
        width: 16px !important;
        height: 16px !important;
    }
    .ant-input-search-button {
        height: 36px !important;
    }
    .ant-input-search-button svg {
        width: 16px !important;
        height: 16px !important;
    }
}
