.text-danger{
    cursor: pointer;
    transition: 0.4s all ease-in-out;
}
.text-danger:hover{
    transform: rotateY(180deg);
    opacity: 0.5;
}
.xaridQilishBox{
    background-color: #FFFFFF;
    margin: 20px;
    border-radius: 8px;
}

.addBtn{
    border: 0;
    padding: 0;
    margin: 0;
    width: 80px;
    background: #0c63e4;
    border-radius: 8px;
    transition: 0.1s all ease-in;
}
.addBtn:hover{
    background: silver;
}

