.text-danger{
    cursor: pointer;
    transition: 0.4s all ease-in-out;
}
.text-danger:hover{
    transform: rotateY(180deg);
    opacity: 0.5;
}
.xaridQilishBox{
    background-color: #FFFFFF;
    margin: 20px;
    border-radius: 8px;
}
.btnAdd{
    font-size: 16px;
    background-color: blue;
    border-radius: 4px;
    
}

.addBtn{
    border: 1px solid silver;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    transition: 0.1s all ease-in;
}
.addBtn:hover{
    background: silver;
}
.Combo-array{
    width: 98%;
    border: 1px solid gray;
    background-color: #FFFFFF;
    position:absolute;
    max-height: 200px;
    overflow-y: scroll;
}
.Combo-array p{
    padding: 1px 5px;
    margin: 0;
    width: 90%;
}
.Combo-array p:hover{
    background-color: #0c63e4;
    color: #FFFFFF;
    cursor: pointer;
}
