.text-danger{
    cursor: pointer;
    transition: 0.4s all ease-in-out;
}
.text-danger:hover{
    transform: rotateY(180deg);
    opacity: 0.5;
}
.xaridQilishBox{
    background-color: #FFFFFF;
    margin: 20px;
    border-radius: 8px;
}

.addBtn{
    border: 0;
    padding: 0;
    margin: 0;
    width: 80px;
    background: #0c63e4;
    border-radius: 8px;
    transition: 0.1s all ease-in;
}
.addBtn:hover{
    background: silver;
}
.Combo-array{
    width: 100%;
    border: 1px solid rgba(199, 199, 199, 0.69);
    background-color: rgb(243, 240, 240);
    box-shadow: 0px 3px 3px 1px #0c63e4;
    position:absolute;
    max-height: 200px;
    overflow-y: scroll;

}
.Combo-array p{
    padding: 5px 15px;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}
.Combo-array p:hover{
    background-color: #0c63e4;
    color: #FFFFFF;
    cursor: pointer;
}
