.etiketkaCard{
    width: 100%;
    overflow: hidden;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 12px;
}

.konvaCard{
    width: 100%;
    height: 154px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background: rgb(245, 245, 245);
}

.actionCard{
    background: white;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.konvaKontent{
    height: calc(100vh - 200px);
    background-color: rgb(245, 245, 245);
}

.card{
    background: rgb(255, 255, 255);
    border-radius: 20px;
    transition: all 0.4s ease 0s;
    overflow: hidden;
}


.pageEtiketka{
    min-height: calc(100vh - 200px);
}

.cardInputs{
    width: 100%;
    background: white;
    padding: 8px 12px;
    border-radius: 12px;
    margin-top: 20px;
}

.width2{
    border-width: 2px;
    height: 32px;
}

.activeButtonEtiketka{
    color: #0958d9;
    border-color: #0958d9;
}
