.dashboard-card{
    width: 23%;
    border-radius: 15px;
    box-sizing: border-box;
    background:  #FFF;
    padding: 1.5rem !important;
}
.dashboard-card-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}
.dashboard-card-header-percent{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dashboard-card-header-text{
    font-family: 'Inter',sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1px;
    margin: 0;
}
.dashboard-card-header-percent-success{
    color: #00CD69;
}
.dashboard-card-header-percent-error{
    color: #E55E61;
}
.dashboard-svg-error path{
    fill: #E55E61;
}
.dashboard-svg-error{
    transform: rotateZ(180deg);
}
.dashboard-card-header-icon{
    width: 32px;
    height: 32px;
}
.dashboard-card-body-text{
    color: #4E5D78;
    font-family: 'Inter',sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 10px;
}
.dashboard-card-footer-text{
    color: #8A94A6;
    font-family: 'Inter',sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    opacity: 0.8;
    margin: 0;
}
@media screen and (max-width: 600.9px){
   .dashboard-card{
       width: 100%;
       padding: 1.1rem !important;
   }
}
@media (min-width: 601px) and (max-width: 767.9px){
    .dashboard-card{
        width: 47%;
        padding: 1.2rem !important;
    }
}

@media (min-width: 768px) and (max-width:1023.9px){
    .dashboard-card{
        width: 47%;
        padding: 1.2rem !important;
    }
}
@media (min-width: 1024px) and (max-width:1300px){
    .dashboard-card{
        width: 31%;
        padding: 1.2rem !important;
    }
}
