.la{
    background: #a8a8b7;
}
:root{
    --color:"aqua"
}

body{
    background: silver;
    height: auto;
}
body::-webkit-scrollbar {
    border-radius: 2px;
    width: 6px;
}
body::-webkit-scrollbar-thumb {
    background:  #1AA6E1;
    border-radius: 4px;
}
body::-webkit-scrollbar-track {
    background: #ccc;
}
.scroll::-webkit-scrollbar {
    border-radius: 2px;
    width: 4px;
}
.scroll::-webkit-scrollbar-thumb {
    background:  #1AA6E1;
    border-radius: 8px;
}
.scroll::-webkit-scrollbar-track {
    background: #ccc;
}
#root{
    height: 100%;
}

.app-css{
    width: 100%;
    display: flex;
    transition: 1s linear;
    overflow: hidden;
    height: 100%;
    background-color: silver;
}
.active-enter-link{
    color:#0a53be;
    /*color: #e3e2e2;*/
    font-weight: bold;
}
.border-box{
    box-sizing: border-box !important;
}
.border-radius{
    border-radius: 10px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;

}
input{
    outline: none;
}
.global-label{
    color: #071A33;
    font-family: 'Inter',sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 10px;
}
.global-input{

}
.PhoneInputInput {
    flex: 1 1;
    min-width: 0;
    border: none;
}
.my-custom-scrollbar {
    position: relative;
    height: 400px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}
.Combo-array{
    width: 100%;
    border: 1px solid rgba(199, 199, 199, 0.69);
    background-color: rgb(243, 240, 240);
    box-shadow: 0px 3px 3px 1px #0c63e4;
    position:absolute;
    max-height: 200px;
    overflow-y: scroll;
    z-index: 100;
}
.Combo-array p{
    padding: 5px 15px;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}
.Combo-array p:hover{
    background-color: #0c63e4;
    color: #FFFFFF;
    cursor: pointer;
}