body {
  margin: 0;
  font-family: 'Inter', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}
.loader{
  position: relative;
}
.load{
  position: absolute;
  /*top: 40%;*/
  margin-top: 15%;
  left: 30%;
}
.z-index{
  width: 100%;
  z-index: 10000;
}
a{
  text-decoration: none;
}
@page {
  size: auto;
}
@font-face {
  font-family: "TTFirsNeue";
  src: local("TTFirsNeue"),
  url("../src/font-size/TTFirsNeue-Medium.ttf") format("truetype");
  font-weight: bold;
}